:root {
    --ci-main-color: #fb531c;
    --ci-main-color-1: #ff0000;
    --ci-white: #fff;
    --co-main-color: var(--ci-main-color);
}



.main-bg-color {
    background-color: var(--co-main-color);
}

.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;

    .header-top {
        padding: 10px 0;

        .header-top-right {
            // display: grid;
            // gap: 15px;
        }
    }
}

.menu-ul {
    display: flex;

    >li {
        position: relative;
        padding: 0 1.2rem;

        .menu-btn {
            display: block;
            padding: 40px 0;
            border-bottom: 3px solid transparent;
            font-size: 16px;
        }

        &:hover {

            .menu-btn {
                color: var(--ci-main-color);
                border-color: var(--ci-main-color);
            }

            .sub-box {
                display: block;
            }
        }
    }

    .sub-box {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--ci-main-color-1);
        width: 150px;

        .sub-list {
            padding: 15px 0;
            display: grid;
            gap: 10px;

            .sub-li {
                >a {
                    display: block;
                    padding: 2px 5px;
                    color: var(--ci-white);
                    font-weight: bold;
                    text-align: center;
                    font-size: 15px;

                    &:hover {
                        background-color: var(--ci-main-color);
                    }
                }
            }
        }
    }
}

.search-box {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;

    &.open {
        display: block;
    }

    .search-form {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 6.25rem;
        background-color: #fff;
        border-radius: 0.625rem;
        padding: 0 1.25rem;

        input {
            outline: none;
            height: 100%;
            font-size: 20px;
        }
    }
}

.mo-header {
    // display: flex;
    display: none;
    justify-content: space-between;
    align-items: center;

    .mo-logo {
        flex: 1;
        text-align: center;
    }

    .mo-menu {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: left .5s;
        overflow: hidden;

        &.open {
            left: 0;
            transition: left .5s;
        }

        &-top {
            background-color: var(--ci-main-color);
            padding: 10px;
            color: var(--ci-white);
        }

        &-list {
            a {
                font-size: 16px;
                color: #000;
                padding: 15px;
                display: block;
            }
        }
    }
}


.footer {
    background-color: var(--ci-main-color);

    .footer-top {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;

        .footer-tle {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 15px;
        }

        .footer-code {
            width: 110px;
            text-align: center;
        }
    }
}








@media screen and (max-width: 1536px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        max-width: 1000px;
    }

    .menu-ul>li {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 992px) {
    .menu-ul>li .menu-btn {
        font-size: 14px;
    }
}


@media screen and (max-width: 768px) {
    .pc-header {
        display: none;
    }

    .mo-header {
        display: flex;
    }

    .search-box .search-form {
        width: 80%;
        height: 60px;

        input {
            font-size: 16px;
        }
    }
}